@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Satisfy&display=swap');

:root {
  --background: #000000;
  --text:#DBDBDB;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-dev: var(--dev);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    
  }
}

body {
  background: var(--background);
  color: var(--text);
  font-family: sans-serif;
}

.font-anton {
  font-family: var(--font-anton);
}

.font-satisfy {
  font-family: var(--font-satisfy);
}

html {
  scroll-behavior: smooth;
}

html,  body {
  overflow-x: hidden;
}


/* From Uiverse.io by milegelu */ 
.grid-container {
  position: relative;
  /* width: 100%; */
  /* height: 100%; */
  background: #000000;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);

  background-image: 
    linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
  background-attachment: fixed;
  overflow: hidden;
}

.grid-container::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: 2;
}





